#test_space{
        min-height: 500px;
        margin: 100px;
    }


.box{
     height: 50px;
    width:50px;
    margin:100px auto;
    -webkit-border-radius: 6px;
}
.rotate1{
    background: red;
}
@-webkit-keyframes freakOut {
	0% {
		-webkit-transform:rotate(0deg);
	}
	50% {
	-webkit-transform:rotate(360deg);
		padding: 0 20px;
		background-color:rgba(255,0,0,0.2);
	}
	100% {
	-webkit-transform:rotate(0deg);
		padding: 0;
		background-color:rgba(255,0,0,0.9);
	}
}
.rotate1:hover {
	-webkit-animation-name: freakOut;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}



.popup1{
    position: relative;
    background: #bbb;
}
.popup1:after{
    content:'';
    -webkit-box-shadow: 100px 0 10px 20px rgba(100,100,100, 0.2);
    position: absolute;
    width: 50%;
    height: 50px;
    bottom: 20px;
    right: 300px;
     -webkit-transform: skew(0deg);
    /*z-index: -1;*/
}
    @-webkit-keyframes popping {
        0% {
            -webkit-transform:skew(0deg);
        }
        50% {
        -webkit-transform:skew(40deg);
            padding: 0 20px;
            /*background-color:rgba(255,0,0,0.2);*/
        }
        100% {
        -webkit-transform:skew(0deg);
            padding: 0;
            /*background-color:rgba(255,0,0,0.9);*/
        }
    }
.popup1:hover{
     -webkit-animation-name: popping;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}



.pulsate{
    /*background: #383838;*/
    -webkit-box-shadow: 0 0 0 #fed11c;
    -webkit-animation-name: pulsing;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes pulsing {
	0% {
    -webkit-box-shadow: 0 0 0 #fed11c;
	}
	50% {
    -webkit-box-shadow: 0 0 30px #fed11c;

	}
	100% {
    -webkit-box-shadow: 0 0 0 #fed11c;
	}
}
    .pulsate:hover{
         -webkit-animation-name: pulsing;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
    }

    .scale{
        /*background: #fed11c;*/
         -webkit-animation-name: scaling;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
    }
/*.stopScale{*/
    /*-webkit-animation-name: scaling;*/
	/*-webkit-animation-duration: 1s;*/
	/*-webkit-animation-iteration-count: 0;*/
	/*-webkit-animation-direction: alternate;*/
	/*-webkit-animation-timing-function: ease-in-out;*/
/*}*/
    @-webkit-keyframes scaling {
	0% {
    -webkit-transform: scale(1);
	}
	50% {
    -webkit-transform: scale(1.1);

	}
	100% {
    -webkit-transform: scale(1);
	}
}
    /*.scale:hover{*/
         /*-webkit-animation-name: scaling;*/
	/*-webkit-animation-duration: 1s;*/
	/*-webkit-animation-iteration-count: infinite;*/
	/*-webkit-animation-direction: alternate;*/
	/*-webkit-animation-timing-function: ease-in-out;*/
    /*}*/

    .videoplayer{
    margin: 10px auto;
    width:400px;
	height:230px;
	overflow:hidden;
	position:relative;
        background:#383838;
    }
    .videocontainer{
    position:absolute;
	left:0;
	width:2000px;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-transition:all 1.0s ease-in-out;
    }
.videoplayer>.videocontainer>video{
    width: 400px;
    height: 230px;
    padding:0;
	margin:0;
	float:left;
}

#slide1_controls span {
	padding-right:2em;
	cursor:pointer;
}
    #slide1_controls{
    margin-left: 240px;
    }
.box-round{
        height: 100px;
        width: 100px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        float: left;
        margin: 120px;
        background: #fed11c;
    -webkit-box-shadow: 0 0 20px #fed11c;
    }
  
#page{
        background:none #383838;
    }
#logo a, #menu li a{
    color: #bbb;
}
#logo a:hover{
    color: #c6d1e3;
    text-shadow: 0 0 5px #c6d1e3;
}
#menu li a:hover{
    color: #ffcc00;
    text-shadow: 0 0 5px #ffcc00;    
}